:root {
  --primary: #ff42a5;
  --secondary: #4ec5f7;
  --dark: #0b0223;
  --white: #ffffff;
  --gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
section {
  max-width: 1200px;
  margin: auto;
  padding: 42px 0;
}
.important {
  color: var(--primary);
}
.btn {
  padding: 20px 40px;
  color: var(--white);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
  width: fit-content;
  border: none;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
}
.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btn:active {
  transform: scale(0.98);
}
/* NavBbar */
header {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  text-align: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo img {
  height: 40px;
  width: auto;
}
.logo p {
  font-weight: 800;
  font-size: 52px;
  margin: 0 !important;
  line-height: inherit;
}
nav {
  margin: auto;
  padding: 37px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.nav-item {
  color: var(--dark);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none !important;
}
.follow {
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.follow p {
  margin: 0;
  color: var(--dark);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none !important;
  padding-right: 8px;
}
/* Banner */
#banner {
  padding-top: 0 !important;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.banner-image {
  padding: 20px;
  max-height: 500px;
  width: auto;
}
.banner-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-image: url("../assets//Images/Group-14.png");
  background-size: contain;
  width: calc(50% - 5px);
}
.banner-text .title {
  color: var(--gradient);
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.list {
  margin: 24px 0;
}
.list-item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 16px auto;
}
.list-title {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
/* About */
#about {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  text-align: right;
  justify-content: center;
  /* grid-template-columns: repeat(2, 20px 1fr); */
}
#about img {
  width: 48%;
  height: auto;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
  align-items: flex-end;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  color: var(--dark);
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  max-width: 520px;
}
.about-bottom {
  color: #534c64;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.about-bottom p {
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.heading {
  text-align: center;
}
/* Feature */
.cards {
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.card {
  max-width: 280px;
  border-radius: 16px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card .hover-item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000078;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hover-item span {
  font-size: 20px;
  font-weight: 700;
}
/* Breakpoints */
/* Mobile */
@media (max-width: 576px) {
  section {
    padding: 42px 20px;
  }
  .btn {
    font-size: 12px;
  }
  nav {
    justify-content: center;
  }
  .nav-items {
    display: block;
    padding: 15px 0;
  }
  .nav-item {
    display: block;
    padding: 10px;
  }
  .banner-text {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
  }
  .banner-text .title {
    font-size: 30px;
    text-align: center;
  }
  .banner-text svg {
    height: 50px;
    width: auto;
  }
  .list-title {
    font-size: 16px;
  }
  .banner-image {
    max-width: 300px;
  }
  #about img {
    width: 100%;
  }
  .about-text {
    align-items: center;
    text-align: center !important;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 14px;
  }
  .about-bottom p {
    font-size: 20px;
  }
}

/* Tablet */
@media (min-width: 768px) {
}
/* PC */
@media (min-width: 992px) {
}
